
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #700c0d;
}


/* CONTAINER PRINCIPAL */

.container {
    width: 750px;
    min-height: 470px;

    display: flex;

    box-shadow: 1px 1px 20px 5px rgba(7, 7, 7, 0.322);
}


/* =========================
   LADO ESQUERDO
========================= */

.login {
    width: 55%;

    padding: 72px 55px;

    background: linear-gradient(
        135deg,
        #9c1212,
        #a41414
    );

    color: #f5f0ea;
}


.login h1 {
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 35px;
}


/* INPUTS */

.input-box {
    margin-bottom: 20px;
}

.input-box label {
    display: block;

    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: bold;

    margin-left: 5px;
    margin-bottom: -2px;
}


.campo {
    display: flex;
    align-items: center;

    border-bottom: 3px solid #f1ece5;
}


.campo input {
    width: 100%;

    background: transparent;
    border: none;
    outline: none;

    padding: 5px;

    color: white;
}


.campo i {
    font-size: 18px;
    padding-right: 5px;

    color: #f1ece5;
}


/* BOTÃO CADASTRAR */

.login button {
    width: 260px;
    height: 36px;

    margin-top: 3px;

    border: none;
    border-radius: 25px;

    background: linear-gradient(
        90deg,
        #f5f1ea,
        #ffffff
    );

    color: #813333;

    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;

    cursor: pointer;

    transition: 0.3s;
}


.login button:hover {
    transform: scale(1.03);
}


/* =========================
   LADO DIREITO
========================= */

.bem-vindo {
    width: 45%;

    background: #f4efe6;

    text-align: center;

    padding-top: 73px;

    color: #762b25;

    box-shadow: inset 8px 0 15px rgba(0,0,0,0.05);
}


.bem-vindo h1 {
    font-size: 34px;
    letter-spacing: 1px;

    margin-bottom: 17px;
}


.bem-vindo > p {
    color: #555;

    font-size: 15px;
    line-height: 21px;
}


/* LOGIN */

.cadastro {
    margin-top: 50px;
}


.cadastro h2 {
    font-size: 18px;

    letter-spacing: 1px;

    margin-bottom: 18px;
}

.bem-vindo button .login-link {
    color: #5d4a43 !important;
    text-decoration: none !important;
}


/* BOTÃO */

 button {
    width: 160px;
    height: 29px;

    border: none;
    border-radius: 10px;

    background: #d9a991;

    color: #5d4a43;

    font-size: 13px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}


     button:hover {
    transform: scale(1.05);
}

